/* src/pages/Home.css */
.home-container {
  padding: 20px;
  text-align: center;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.card {
  background-color: #eeeeee;
  padding: 30px 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.card:hover {
  background-color: #dcdcdc;
}
